#recommendations-content .media-grid {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 1.5rem;
    padding-bottom: 1.5rem; /* For scrollbar */
    /* Stylish scrollbar */
    scrollbar-width: thin;
    scrollbar-color: #30363d var(--nav-background);
    transition: scrollbar-color 0.3s ease-in-out;
}

#recommendations-content .media-grid:hover {
    scrollbar-color: var(--focus-color) var(--nav-background);
}

#recommendations-content .media-grid::-webkit-scrollbar-button {
    display: none;
}

#recommendations-content .media-grid::-webkit-scrollbar {
    height: 8px;
}

#recommendations-content .media-grid::-webkit-scrollbar-track {
    background: var(--nav-background);
    border-radius: 4px;
}

#recommendations-content .media-grid::-webkit-scrollbar-thumb {
    background-color: #30363d;
    border-radius: 4px;
    border: 2px solid var(--nav-background);
    transition: background-color: 0.3s ease-in-out;
}

#recommendations-content .media-grid:hover::-webkit-scrollbar-thumb {
    background-color: var(--focus-color);
}

#recommendations-content .media-grid .media-card {
    flex: 0 0 180px;
    width: 180px;
}
