.select-container {
    position: relative;
    width: 100%;
    font-family: var(--font-family);
}

.select-btn,
.select-search-input {
    width: 100%;
    background-color: var(--background-color);
    border: 1px solid #30363d;
    color: var(--text-color);
    padding: 0.75rem 1rem;
    border-radius: 6px;
    font-size: 0.9rem;
    font-family: var(--font-family);
    transition: border-color 0.2s, box-shadow 0.2s;
}

.select-btn {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.select-btn:hover, .select-container.open .select-search-input:focus {
    border-color: var(--focus-color);
    box-shadow: 0 0 0 3px rgba(1, 180, 228, 0.2);
}

.select-btn-text {
    opacity: 0.8;
}

.select-btn-text.selected {
    opacity: 1;
    font-weight: 500;
}

.select-btn i {
    transition: transform 0.2s;
}

.select-container.open .select-btn i {
    transform: rotate(180deg);
}

.select-dropdown {
    position: absolute;
    top: calc(100% + 8px);
    left: 0;
    width: 100%;
    background-color: var(--nav-background);
    border: 1px solid #30363d;
    border-radius: 6px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: opacity 0.2s ease, transform 0.2s ease, visibility 0.2s;
}

.select-container.open .select-dropdown {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.select-search-input {
    display: none;
}
.select-search-input:focus {
    outline: none;
}

.select-container.open .select-btn {
    display: none;
}
.select-container.open .select-search-input {
    display: block;
}


.select-options {
    list-style: none;
    max-height: 250px;
    overflow-y: auto;
}

.select-options li {
    padding: 0.75rem 1rem;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background-color 0.2s;
}
.select-options li:hover, .select-options li.selected, .select-options li.highlighted {
    background-color: rgba(1, 180, 228, 0.1);
}

.select-options li.hidden {
    display: none;
}