.info-modal-title {
    font-size: 1.75rem;
    font-weight: 400;
    margin-bottom: 0;
    color: var(--text-color);
    opacity: 0.9;
}

.info-modal-divider {
    border: 0;
    height: 1px;
    background-color: #30363d;
    margin: 1.25rem 0;
}

.info-modal-synopsis {
    font-size: 1rem;
    line-height: 1.6;
    opacity: 0.9;
}