/* ------------------- */
/* General Styles      */
/* ------------------- */
@media (min-width: 768px) {
    main {
        margin-left: var(--nav-width-collapsed);
        padding: 90px 2rem 2rem; /* Increased top padding for sticky command bar */
    }
}


/* ------------------- */
/* Main Menu           */
/* ------------------- */
@media (min-width: 768px) {
    .menu-toggle {
        display: none;
    }

    .side-nav {
        transform: translateX(0);
        width: var(--nav-width-collapsed);
        transition: width 0.3s ease-in-out;
        overflow-x: hidden;
    }

    .side-nav:hover {
        width: var(--nav-width-expanded);
        transition-delay: 2s;
    }

    .side-nav:hover .logo-icon {
        opacity: 0;
        transform: scale(0.9);
        transition-delay: 2s;
    }
    
    .side-nav:hover .nav-logo {
        opacity: 1;
        transform: scale(1);
        pointer-events: auto;
        transition-delay: 2s;
    }

    /* This rule is not needed with the new logic */
    /* .side-nav:hover + main {
        margin-left: var(--nav-width-expanded);
        transition-delay: 2s;
    } */
    
    body.nav-open main {
        margin-left: var(--nav-width-expanded);
    }

    .nav-links {
        padding-top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
    }

    .nav-link {
        padding-left: 0;
    }

    .nav-link .nav-icon {
        min-width: var(--nav-width-collapsed);
    }

    .link-text {
        margin-left: 1rem;
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
    }

    .side-nav:hover .link-text {
        opacity: 1;
        transition: opacity 0.2s ease-in-out 2.1s;
    }
}


/* ------------------- */
/* Search Widget       */
/* ------------------- */
@media (max-width: 767px) {
    .search-widget {
        right: 65px; /* Position next to the menu toggle */
    }

    .search-widget.is-active .search-input {
        width: calc(100vw - 120px); /* Adjust width for mobile view */
    }
}


/* ------------------- */
/* Shelves             */
/* ------------------- */
@media (min-width: 768px) {
    .shelf-grid .media-card {
        flex: 0 0 210px;
        width: 210px;
    }
}


/* ------------------- */
/* Actors/Directors    */
/* ------------------- */
@media (min-width: 992px) {
    .person-grid {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}